html, body, div, span, p, blockquote, pre {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body{
	line-height: 1;
	color: black;
	background: white;
	margin-left: 20px;
}

.src { 
	border: 1px solid #dddddd;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
	font-family: Consolas, Courier, monospace;
}


.covered {background-color: #ddffdd}
.uncovered {background-color: #ffdddd}
.killed {background-color: #aaffaa}
.survived {background-color: #ffaaaa}
.uncertain {background-color: #dde7ef}
.run_error {background-color: #dde7ef}
.na {background-color: #eeeeee}
.timed_out {background-color: #dde7ef}
.non_viable {background-color: #aaffaa}
.memory_error {background-color: #dde7ef}
.not_started {background-color: #dde7ef; color : red}
.no_coverage {background-color: #ffaaaa}
