name: CI
on:
  push:
    branches:
      - 'master'
  pull_request:
    branches-ignore:
      - 'release'
jobs:
  supported-jdk:
    name: ${{ matrix.title }}
    continue-on-error: false
    strategy:
      fail-fast: false
      matrix:
        include:
          - title: "JDK 8"
            java: 8
          - title: "JDK 11"
            java: 11
          - title: "JDK 18"
            java: "18"
          - title: "JDK 21"
            java: "21"
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout from Git'
        uses: actions/checkout@v3
      - name: 'Set up JDK ${{ matrix.java }}'
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: adopt
      - name: 'Display JDK version'
        run: java -version
      - name: Cache local Maven repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      - name: 'Test'
        # install rather than verify to ensure correct version used during integration test
        run: mvn -B install
